.vs/
.vs/ConnectedDemo/copilot-chat/fd70d02e/sessions/f5838495-8356-46d5-8418-1866eb6eb19f
/.vs/ConnectedDemo/copilot-chat
*.vsidx
.vs/ConnectedDemo/copilot-chat/fd70d02e/sessions/f5838495-8356-46d5-8418-1866eb6eb19f
.vs/ConnectedDemo/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/ConnectedDemo/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/ConnectedDemo/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/ConnectedDemo/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/ConnectedDemo/FileContentIndex/3462e4ca-5947-46dc-a533-7ff2c5406d32.vsidx
.vs/ConnectedDemo/FileContentIndex/3d2820e2-a50f-40f4-9aab-3c0d9d3e0f61.vsidx
.vs/ConnectedDemo/FileContentIndex/e575bb29-35ca-4942-8e2a-ede580cae89a.vsidx
.vs/ConnectedDemo/copilot-chat/fd70d02e/sessions/f5838495-8356-46d5-8418-1866eb6eb19f
.vs/ConnectedDemo/FileContentIndex/3462e4ca-5947-46dc-a533-7ff2c5406d32.vsidx
.vs/ConnectedDemo/FileContentIndex/3d2820e2-a50f-40f4-9aab-3c0d9d3e0f61.vsidx
.vs/ConnectedDemo/FileContentIndex/e575bb29-35ca-4942-8e2a-ede580cae89a.vsidx
*.vsidx
